</div>
<footer class="footer">
      <div class="foot container">
        <div class="footer-block fb1">
              <h3>О магазине</h3>
              <ul>
                  <li>
                      <a href="/o-nas/">О нас</a>
                  </li>

                  <li>
                      <a href="/partnerskaya-programma/">Партнерская программа</a>
                  </li>

                  <li>
                     <a href="/kontakty/">Контакты</a>
                  </li>

                  <li>
                      <a href="/dostavka/">Условия доставки</a>
                  </li>

                  <li>
                      <a href="/kak-zakazat/">Как заказать товар</a>
                  </li>

                  <li>
                    <a href="/vakansii/">Вакансии</a>
                  </li>
              </ul>
        </div>
         
        <div class="footer-block fb2">
              <h3 class="">Сервис для клиента</h3>
              <ul>
                  <li>
                      <a href="/clients/zhaloby/">Обратная связь</a>
                  </li>

                  <li>
                    <a href="/magaziny-i-punkty-vydachi/">Магазины / пункты выдачи</a>
                  </li>

                  <li>
                    <a href="/clients/pismo-direktoru/">Письмо директору</a>
                  </li>

                  <li>
                    <a href="/clients/bonusnaya-programma/">Бонусная программа</a>
                  </li>

                  <li>
                    <a href="/clients/usloviya-vozvrata/">Условия возврата</a>
                  </li>

                  <li>
                    <a href="/clients/forum/">Форум</a>
                  </li>
              </ul>
        </div>
      
        <div class="footer-block fb3">
              <h3>Дополнительно</h3>
              <ul>
                <li>
                  <a href="/news/aktsii/">Акции</a>
                </li>

                <li>
                  <a href="/brands/">Производители</a>
                </li>

                <li>
                  <a href="/news/">Новости</a>
                </li>

                <li>
                  <a href="/articles/">Статьи</a>
                </li>

                <li>
                  <a href="/entsiklopediya/">Энциклопедия</a>
                </li>

                <li>
                  <a href="/obyavleniya/">Объявления о продаже</a>
                </li>
              </ul>
        </div>
         
        <div class="footer-block2">

          <div class="footer__logo__wrap">
            <p class="footer-logo">
              <img src="./img/logo2.png" width="200" height="23" alt="">
            </p>
            <ul class="social-links">
                <li class="vk"><a href=""></a></li>
                <li class="facebook"><a href=""></a></li>
                <li class="odnoklassniki"><a href=""></a></li>
                <li class="smile"><a href=""></a></li>
                <li class="viber"><a href=""></a></li>
                <li class="whatsapp"><a href=""></a></li>
            </ul>
          </div>
          <div class="foot__wraper2">
            <div class="numer__wrap">
              <a href="tel:+88005551061" class="numberfot">
                 8 800 555-10-61
              </p>
              <a href="tel:+79112432566" class="numberfot2">
                 8 911 243-25-66
              </a>
            </div>

             <div class="zvonok__wrap">
               <span>Можем перезвонить</span>
               <a href="javascript:void(0)" class="callmefot popup-ajax modal-btn" data-modal="backcall">Заказать звонок</a>
             </div>
          </div>

          <div class="pay_wrap">
            <img src="./img/paywrap.png">
          </div>
          
          <form  method="post" id="asd_subscribe_form_article" class="subscribe-form validate-form">
              <input type="text" value="" name="asd_email" placeholder="Ваш e-mail">
              <input name="asd_submit" id="asd_subscribe_submit_article" type="submit" value="Подписаться">
          </form>
          
        </div>
        <div class="footer__bot">
           <p>© 2009 – 2020, <span style="color:#b56dba">«ZOONEVA»</span> — это интернет магазин товаров для собак и кормов для животных</p>
        </div>
      </div>
    </footer>
<div class="modal" id="backcall">
  <form class="modal__wrap__back modal-body">
    <div class="modal-close close-btn"><i class="fas fa-times-circle"></i></div>
    <h2>Заполните форму<br>
    и мы перезвоним Вам</h2>
    <input type="" name="name" placeholder="Введите Ваше Имя">
    <input type="tel" name="tel" placeholder="+7 ___ ___ ____">
    <button>Отправить</button>
    <p>Нажимая кнопку "Оставить заявку", я соглашаюсь с<br> <a href="" class="politica-btn">условиями обработки персональных данных</a></p>
    <div class="politica">
      <div class="modal-close"><i class="fas fa-times-circle"></i></div>
      <p>
        Настоящей анкетой (заявкой) я официально выражаю свое 
        согласие на осуществление обработки (сбора, систематизации, накопления, хранения, уточнения, (обновления, изменения), использования, распространения (в том числе передачи), обезличивания, блокирования и уничтожения), в том числе автоматизированной, моих персональных данных, указанных в настоящей Анкете (заявке), в соответствии с требованиями Федерального закона от 27.07.2006 №152-ФЗ «О персональных данных».<br>
        Указанные клиентом персональные данные предоставляются в целях связи с клиентом, а также для информирования о других продуктах и услугах. Согласие предос
        тавляется с момента заполнения настоящей заявки на весь срок жизни клиента.<br>
        Настоящее согласие может быть отозвано клиентом при предоставлении заявления в простой письменной форме в соответствии с требованиями законодательства Российской Федерации.
      </p>
    </div>

    <div class="modal-submite">
      <div class="modal-close close-btn"><i class="fas fa-times-circle"></i></div>
      <div class="modal-submite_wrap">
        <span><i class="fas fa-check"></i>
          СПАСИБО!
        </span>
        
        <div>
          Ваша заявка принята <br>
          мы перезвоним <br>
          Вам в ближайшее время<br>
        </div>
      </div>
      
    </div>
  </form>
</div>
<div class="modal" id="buytovar">
  <div class="buytovar__wrap modal-body">
    <div class="modal-close close-btn"><i class="fas fa-times-circle"></i></div>
    <div class="buytovar-flex"><i class="fas fa-check"></i> ТОВАР ДОБАВЛЕН В КОРЗИНУ!</div>
    <div class="buytovar__btn">
      <a href="" class="close-btn">Продолжить покупки</a>
      <a href="">Оформить заказ</a>
    </div>
  </div>
</div>

<script src="./js/jquery-3.2.1.min.js"></script>
<script src="./js/slick.min.js"></script>
<script src="./js/maskedinput.min.js"></script>
<script src="./js/main.js"></script>
</body>
</html>